version: "3"

services: 
  jenkins:
    image: jenkins/jenkins
    command: >
      bash -c "apt-get -y update && 
      apt-get -y install cmake make gcc g++ && 
      /sbin/tini -- /usr/local/bin/jenkins.sh"
    privileged: true
    user: root
    ports:
      - 8080:8080
      - 50000:50000
    volumes:
      - ./jenkins:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/local/bin/docker:/usr/local/bin/docker